.footer * {
	font-size: 10pt;
}
/* container with a gray background */
.footer .container-fluid {
	border-top: 1px solid #8e8a8a;
	padding-top: 1em;
	background-color: #DCDCDC;
}
.footer li {
	list-style: none;
}
/* dark blue links with an underline */
.footer-link-dark {
	color: #1b43aa;
	font-weight: bold;
	text-decoration: underline;
}
/* light blue links */
.footer-link-light {
	color: #337ab7;
}
.footer .row:last-child {
	padding-bottom: 1em;
}
.vert-align {
	display: flex;
	align-items: center;
}
