/*
 * light  blue: #337AB7
 * darker blue: #286090
 * border     : #97B5E5
 * grey text  : #eff0f2
 */
.navbar {
	padding-bottom: 0;
	margin-bottom: 0;
}
.navbar-default {
  padding-top: 1.5px;
  background-color: #337AB7;
  border-color: #000;
  /* border-color: #327c9d; */
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  /* color: #fbf9aa; */
  color: #286090;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
/* font color */
.navbar-default .navbar-nav > li > a {
  /* color: #ffffff; */
  color: #eff0f2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #286090;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #337ab7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  /* color: #ffffff; */
  color: #eff0f2;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #286090;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #286090;
}

.navbar-default .navbar-nav .open .dropdown-menu > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > a:focus {
  color: #fff;
  background-color: #286090;
}
.navbar-default .navbar-nav > a:hover,
.navbar-default .navbar-nav > a:focus {
  color: #fff;
  background-color: #286090;
}

/* these rules fix the white background on nav elements (about page link) */
.navbar-default .navbar-nav > .active > a {
	color: #fff;
	background-color: #337AB7;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #286090;
}

.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #286090;
}
.navbar-default .navbar-toggle {
  border-color: #97b5e5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #286090;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #fbf9aa;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eff0f2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #286090;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > a:focus {
    color: #000;
    background-color: #286090;
  }
}
/*
 * open dropdown menus on hover
 * src: https://stackoverflow.com/a/16214473/6558378
 */
@media (min-width: 767px) {
	.dropdown:hover .dropdown-menu {
		display: block;
		margin-top: 0; /* remove the the gap so it does not close */
	}
}
/*
 * All containers are white except this one
 */
#navbar-container{
	background-color: #337AB7;
}
/* lining up brand image with nav text */
.navbar-brand {
	height: 100%;
	width: 75%;
	padding: 0 0;
	margin: 0 0;
}
.navbar-brand > img{
	margin-top: 4px;
}
/* making navbar elements vertically aligned */
.navbar-header,
.navbar-nav > li > a {
	line-height: 60px;
	height: 70px;
	padding-top: 0;
	padding-bottom: 0;
}
/*
 * bold-text can be set from the wp-admin menu.
 * it applies to the actual <ul> elements on the nav bar, so here we select
 * the underlying element
 */
.bold-text * {
	font-weight: bold;
}
/*
 * Decrease width of the top-level nav buttons
 */
#navbar .dropdown > .dropdown-toggle {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
