/*
 * adding space around the group of buttons to select one of the four modules
 */
#module-button-group .btn {
	border: 1px solid white;
}

#module-selection-message {
	font-size: 28px;
	line-height: 1em;
}

.parameters {
	/* parameters is a vertical box/panel on the
	 * lefthand side of the screen where users can
	 * set constraints on search.
	 */
	text-align: center;
}

#search-results {
	padding-top: 5%;
}

/*
 * Colorizing the drop-down menus
 */
.bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: white !important;
	background: #337AB7 !important;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a {
	color: white !important;
	background: #337AB7 !important;
}
/* Make the text of dropdown button darker */
.bootstrap-select.btn-group span.filter-option {
	color: #333;
}
