/*
Theme Name: suny
Author: tom
Version: 0.0.1
*/

/*
 * Always show the scrollbar on the Mac
 */
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/**********************************************
 * Layout of page, shaping, dimensions, etc.  *
 **********************************************/
* {
	margin: 0;
	padding: 0;
}
* {
	-webkit-border-radius: 0 !important;       /* no rounded borders */
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	font-family: "sofia-pro-soft", sans-serif;
	font-style: normal;
	font-size:101%;
	font-weight:300;
}
html, body {
	height: 100%;
}
.post-content-wrapper * {
	word-wrap: break-word;
}
.post-content-wrapper ol,
.post-content-wrapper ul {
	list-style-position: outside;
	padding-left: 3.0em;
}
/* indent increased by Lynn */
.post-content-wrapper ul li,
.post-content-wrapper ol li{
	padding-left:0.5em;
	padding-bottom:6px;
}
p{
	padding-bottom:0.5em;
}
.img-responsive {
	margin: 0 auto;
}
/* making full height columns */
.full-height {
	min-height: 100%;
	overflow: hidden;
	background-color: white;
}
.full-height, .container .row {
	padding: 0.25em 1em 0.5em 1em;
}
/*
 * Rendering images correctly when they are aligned from the WYSIWYG
 */
img.alignright {
	float: right;
	margin: 0 0 1em 1em;
}
img.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*************
 * colors    *
 *************/
/* colors on sides of page (banners) */
body {
	/* background-color: #444645; */
	background-color: #c2cad6;
}
.container {
	background-color: white;
}

/* lynn's edits */
h1, h3{
	color:rgb(0,76,147);

}
h2, h4{
	color:rgb(0,158,223);
}
.subhead{
	color:rgb(0,76,147);
	font-weight:500;
	background-color:rgb(255,219,18);
	padding:6px;
}
/*  for the FAQ page, but might be useful elsewhere  */
.indent-answers{
	padding-left:2em;
}
/* for subsections within the answers */
.minor-subhead{
	font-weight:500;
	/*  font-variant:small-caps;  */
}

/*   added by Lynn   */
/*  for link underlining */
.post-content-wrapper a{
	text-decoration:none;
	border-bottom:solid 1px lightgray;
}
.post-content-wrapper a:hover{
	text-decoration:none;
	border-bottom:solid 1px black;
}

/* heading size  */
h1{
	font-size:170%;
}

h2{
	font-size:150%;
	font-weight:400;
}
h3{
	font-size:130%;
	font-weight:400;
}
h4{
	font-size:110%;
}
/*
 * no indentation on list elements on mobile devices
 * list-mobile is added/removed by javascript, depending on page-width
 */
ul.list-mobile,
ol.list-mobile {
	padding-left: 0;
}
/*
 * styles for the 'tag' elements on the Tool pages (single.php)
 */
.post-tag {
	display: inline-block;
	padding: 1px 4px;
	margin: 2px 1px;
	border-radius: 3px !important;
	color: #fcfcfc;
	background-color: #337AB7;
	font-size: 14px;
	font-weight: 500;
}
.post-tag:hover{
	color: #ffffff;
	background-color: #286090;
}
